* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;  
}

/*header*/

.header {
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;   
  background-color: #1F2937;
}

.header h1 {
  font-family: 'Press Start 2P', cursive;
  color: #f2d648;
  font-size: 54px;
  font-weight: 400;
}

/*main part*/

.main {
  display: flex;  
  flex-direction: column;
  align-items: center;
  justify-content: center; 
  background-color: #c0c2ce;
  font-family: 'Nerko One', cursive;  
  height: calc(100vh - 250px);  
}

.main-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 50px; 
}

.main-text h2 {
  font-weight: 700;
  font-size: 36px;
  padding-bottom: 20px; 
}

.main-text p {
  font-weight: 400px;
  font-size: 24px;
}

.main-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;  
}

.main-buttons button {
  width: 150px;
  height: 150px;
  background-color: #ededed;
  font-weight: 700;
  font-size: 24px;
  outline: none;
  border: 1px solid #1F2937;
  border-radius: 50%;
  cursor: pointer;
  font-family: 'Nerko One', cursive;
}

.main-scoreboard {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 30px; 
}

.main-scoreboard h3 {
  font-weight: 400;
  font-size: 24px;
  padding-bottom: 20px;
}

/*footer*/

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  background-color: #1F2937;
}

.footer p {
  font-size: 18px;
  font-weight: 400;
  color: #f2d648;
}